/* josh's css reset */
  body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  *, *::before, *::after {
      box-sizing: border-box;
  }
  
  * {
  margin: 0;
  }
  
  body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  }
  
  input, button, textarea, select {
  font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  }
  
  #root, #__next {
  isolation: isolate;
  }

/* my own styles below this */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
    background-color: green;
}

.header {
    grid-column: 2/-1;
    grid-row: 1;
}

.main {
    grid-column: 2/-1;
    grid-row: 2/-1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.projects {
    grid-column: 1;
    grid-row: 1;
}

.sidebar svg {
    height: 1.1em;
    width: 1.1em;
    fill: whitesmoke;
}

.nav_item, .nav2_item {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.2rem;
    margin: 0.5em;
}

.nav_item a, .nav2_item a {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

h1 {    
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: whitesmoke;
}

h1 svg {
    height: 1.3em;
    width: 1.3em;
}

.header svg {
    height: 1.2em;
    width: 1.2em;
}

img {
    border-radius: 100%;
    height: 1.2em;
    width: 1.2em;
}

